html, body{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}

body{
    padding-top: 70px;
    background-color: #F7F6F4;
    background-image: url('http://wx3.sinaimg.cn/woriginal/006xGBL0ly1fd55tzje6fj31hc0u0mzw.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    font-family: "Helvetica Neue","Open Sans","Microsoft YaHei","微软雅黑","Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}

@font-face {    
    font-family: 'wbficonregular';    
    src: url("../font/wbficon.eot?id=175008242016") ;    
    src: url("../font/wbficon.eot?id=175008242016#iefix") format('embedded-opentype'), url("../font/wbficon.svg?id=175008242016")  format('svg'), url("../font/wbficon.woff?id=175008242016") format('woff'), url("../font/wbficon.ttf?id=175008242016")  format('truetype');	
    src: url("../font/wbficon.eot?id=175008242016") \9;    
    font-weight: normal;    
    font-style: normal;
}

div.container{
    width: 920px;
    margin: 0 auto;
    position: relative;
    overflow: auto;
}

div.container.main{
    margin-bottom: 20px;
}

div.nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 48px;
    border-top: 2px solid #fa7d3c;
    box-shadow: 0 0 1px 0px rgba(0,0,0,0.15);
    background: #fff;
}

div.nav div.container{
    padding-left: 100px;
}

div.nav a.logo{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 38px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80px;
    background-image: url('http://img.t.sinajs.cn/t6/style/images/global_nav/WB_logo.png');
}

div.nav ul{
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

div.nav ul li{
    display: inline-block;
    float: left;
    width: 5.5%;
    height: 48px;
    line-height: 48px;
    text-align: center;
}

div.nav ul li.first{
    width: 6.5%;
}

div.nav ul li a{
    outline: none;
    text-decoration: none;
    color: inherit;
}

div.nav ul li span{
    font-size: 14px;
    color: #333;
}

div.nav ul li.selected span{
    color: #11C4FD;
}

div.nav ul li a:hover span{
    color: #fa7d3c;
}

#banner{
    height: 350px;
    margin-bottom: 20px;
    border-radius: 3px;
}

.swiper-container{
    position: relative;
}

.swiper-slide{
    width: 100%;
    height: 100%;
}

.swiper-slide a{
    outline: none;
    text-decoration: none;
    color: inherit;
}

.swiper-slide .thumb{
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.swiper-slide .thumb h3{
    position: absolute;
    bottom: 50px;
    right: 20px;
    margin: 0;
    line-height: 36px;
    font-size: 30px;
    color: #fff;
    text-shadow: 1px 2px 2px #000;
    font-weight: normal;
}

#banner .swiper-pagination{
    bottom: 0;
    left: 0;
    right: 0;
    height: 25px;
}

#banner .swiper-pagination .swiper-pagination-bullet{
    width: 40px;
    height: 5px;
    border-radius: 0;
    margin: 0 3px;
    opacity: .8;
}

#banner .swiper-pagination .swiper-pagination-bullet-active{
    opacity: 1;
}

#banner .swiper-button-next,
#banner .swiper-button-prev{
    margin-top: -30px;
}

#banner .swiper-button-next{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E");    
    right: 0;
    background-color: rgba(255,255,255,.2);
    padding: 10px 5px;
    border-radius: 6px 0 0 6px;
    box-shadow: 0 0 8px #999;
}

#banner .swiper-button-prev{
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23fff'%2F%3E%3C%2Fsvg%3E");
    left: 0;
    background-color: rgba(255,255,255,.2);
    padding: 10px 5px;
    border-radius: 0 6px 6px 0;
    box-shadow: 0 0 8px #999;   
}

div.left{
    width: 300px;
    margin-right: 20px;
    float: left;
}

div.right{
    width: 600px;
    margin: 0;
    float: left;
}

div.left-box{
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 12px 0;
    overflow: auto;
    box-shadow: 0 0 10px #ccc;
    position: relative;
}

div.left-box h3.title{
    margin: 0 12px;
    padding-bottom: 8px;
    font-size: 16px;
    color: #333;
    font-weight: normal;
    display: block;
    border-bottom: 1px solid #d9d9d9;
}

div.offical-acc{
    padding-top: 30px;
}

div.offical-acc h3{
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0 0 0 6px;
    font-size: 15px;
    color: #999;
    font-weight: normal;
    line-height: 32px;
}

div.offical-acc div.infos{
    display: inline-block;
    margin: 0 auto;
}

div.offical-acc div.personal-info{
    margin: 10px 0;
    overflow: auto;
    text-align: center;
}

div.offical-acc div.personal-info div.photo{
    background-image: url('http://tva1.sinaimg.cn/crop.4.3.91.91.180/006xGBL0jw8f9rokivo9hj302s02s0sl.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    border: 4px solid rgba(0,0,0,.1);
    position: relative;
}

div.offical-acc div.personal-info div.photo em{
    background-repeat: no-repeat;
    background-image: url('http://img.t.sinajs.cn/t6/style/images/common/icon_co.png');
    background-position: -30px 0;
    width: 20px;
    height: 20px;
    border-radius: 0;
    box-shadow: none;
    vertical-align: -2px;
    position: absolute;
    right: 1px;
    top: 66px;   
}

div.offical-acc div.personal-info h5{
    margin: 5px 0;
    text-align: center;
    font-size: 16px;
    color: #333;
    width: 100%;
    float: left;
    display: block;
}

div.offical-acc div.personal-info a.follow-btn{
    display: inline-block;
    margin: 5px 0 20px;
    height: 34px;
    line-height: 35px;
    padding: 0 15px;
    font-size: 14px;
    color: #fff;
    width: 104px;
    text-align: center;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    text-decoration: none;
    outline: none;
    border-radius: 3px;
    background: #fa7d3c;
    background: -moz-linear-gradient(top, #fa7d3c 0%, #f55f10 100%);
    background: -webkit-linear-gradient(top, #fa7d3c 0%,#f55f10 100%);
    background: -o-linear-gradient(top, #fa7d3c 0%,#f55f10 100%);
    background: -ms-linear-gradient(top, #fa7d3c 0%,#f55f10 100%);
    background: linear-gradient(top bottom, #fa7d3c 0%,#f55f10 100%);
}

div.offical-acc div.personal-info a.follow-btn i{
    font-style: normal;
    padding-right: 5px;
    font-size: 20px;
    line-height: 30px;
}

div.offical-acc div.personal-info a.follow-btn:hover{
    background: #f4722e;
    background: -moz-linear-gradient(top, #f4722e 0%, #f05807 100%);
    background: -webkit-linear-gradient(top, #f4722e 0%,#f05807 100%);
    background: -o-linear-gradient(top, #f4722e 0%,#f05807 100%);
    background: -ms-linear-gradient(top, #f4722e 0%,#f05807 100%);
    background: linear-gradient(top bottom, #f4722e 0%,#f05807 100%);
}

div.offical-acc div.personal-info p{
    margin: 0 12px 6px;
    padding: 0;
    float: left;
    display: block;
}

div.offical-acc div.personal-info p a{
    outline: none;
    text-decoration: none;
    color: inherit;
}

div.offical-acc div.personal-info p.verify span.verify-btn{
    background-repeat: no-repeat;
    background-image: url('http://img.t.sinajs.cn/t6/style/images/common/icon_co.png');
    background-position: -60px 0;
    width: 86px;
    height: 28px;
    display: inline-block;
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid #d9d9d9;
    float: left;
}

div.offical-acc div.personal-info p.verify span.level{
    display: inline-block;
    font-size: 12px;
    color: #fff;
    font-style: italic;
    height: 14px;
    line-height: 14px;
    text-align: center;
    background-color: #ffb400;
    border-radius: 18px;
    padding: 0 10px;
    float: left;
    margin-top: 7px;   
}

div.offical-acc div.personal-info p.info{
    line-height: 18px;
    font-size: 12px;
    color: #333;
}

div.offical-acc div.personal-info ul.detail{
    margin: 0;
    padding: 0 20px;
    list-style: none;
    display: block;
    overflow: auto;
    border-top: 1px solid #f2f2f5;
}

div.offical-acc div.personal-info ul.detail li{
    display: block;
    width: 100%;
    border-bottom: 1px solid #f2f2f5;
    line-height: 39px;
    font-size: 13px;
    text-align: left;
    color: #333;
}

div.offical-acc div.personal-info ul.detail li.last{
    border: none;
}

div.offical-acc div.personal-info ul.detail li span{
    padding-right: 10px;
    color: #999;
}

div.offical-acc div.personal-info ul.detail li span i{
    display: inline-block;
    font-style: normal;
    font-family: "wbficonregular" !important;
    padding: 0 5px 0 0;
}

div.offical-acc div.personal-info ul.detail li a{
    outline: none;
    color: #32a2d5;
    text-decoration: none;
    display: inline-block;
    margin-right: 8px;
}

div.offical-acc div.personal-info a.more-detail{
    display: block;
    border-top: 1px solid #f2f2f5;
    border-bottom: 1px solid #d9d9d9;
    line-height: 36px;
    font-size: 13px;
    color: #333;
    text-decoration: none;
}

div.offical-acc div.personal-info a.more-detail i{
    display: inline-block;
    font-style: normal;
    padding-left: 4px;
    font-size: 14px;
    line-height: 36px;
}

div.offical-acc div.personal-info a.more-detail:hover{
    color: #32a2d5;
}

div.offical-acc div.personal-info a.more-detail:hover i{
    color: #f4722e;
}

div.offical-acc ul.counter{
    margin: 12px 0;
    padding: 0;
    list-style: none;
}

div.offical-acc ul.counter li{
    display: inline-block;
    float: left;
    width: 33%;
    text-align: center;
    border-right: 1px solid #d9d9d9;
}

div.offical-acc ul.counter li.last{
    border: none;
}

div.offical-acc ul.counter li strong{
    display: block;
    margin: 2px 0;
    font-family: Tahoma;
    font-weight: 400;
    color: #333;
}

div.offical-acc ul.counter li span{
    line-height: 14px;
    color: #808080;
    font-size: 12px;
}

div.recommend-acc ul{
    margin: 0 12px;
    padding: 0;
    list-style: none;
}

div.recommend-acc ul li{
    display: block;
    width: 100%;
    border-bottom: 1px solid #f2f2f5;
    height: 51px;
    position: relative;
    padding: 15px 0;
}

div.recommend-acc ul li.last{
    border: none;
}

div.recommend-acc ul li div.photo{
    width: 50px;
    height: 50px;
    margin: 0 10px 0 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    float: left;
}

div.recommend-acc ul li div.detail{
    width: 142px;
    height: 50px;
    float: left;
    padding: 0;
    margin-right: 8px;
}

div.recommend-acc ul li div.detail a.acc-name{
    display: block;
    width: 100%;
    outline: none;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
    float: left;
    height: 20px;
    line-height: 18px;
    cursor: pointer;
}

div.recommend-acc ul li div.detail a.acc-name span{
    display: inline-block;
    float: left;
}

div.recommend-acc ul li div.detail a.acc-name span.name{
    color: #333;
    margin-right: 5px;
}

div.recommend-acc ul li div.detail a.acc-name:hover span.name{
    color: #32a2d5;
}

div.recommend-acc ul li div.detail a.acc-name span.verify{
    width: 16px;
    height: 13px;
    background-repeat: no-repeat;
    background-image: url('http://img.t.sinajs.cn/t6/style/images/common/icon_co.png');
    background-position: 0 0;
    margin-right: 5px;
    margin-top: 2px;
}

div.recommend-acc ul li div.detail a.acc-name span.member{
    width: 16px;
    height: 13px;
    margin-top: 2px;
    background-repeat: no-repeat;
    background-image: url('http://img.t.sinajs.cn/t6/style/images/common/icon.png');
    background-position: 0 -200px;
}

div.recommend-acc ul li div.detail p{
    margin: 0;
    height: 30px;
    font-size: 12px;
    color: #999;
    text-align: left;
    display: block;
    float: left;
    line-height: 1.35;
}

div.recommend-acc ul li div.follow{
    height: 50px;
    width: 66px;
    text-align: center;
    line-height: 50px;
    float: left;
}

div.recommend-acc ul li div.follow a{
    display: inline-block;
    border: 1px solid #d9d9d9;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.15);
    font-size: 12px;
    color: #333;
    padding: 0 9px;
    line-height: 25px;
    text-decoration: none;
    outline: none;
    border-radius: 2px;
}

div.recommend-acc ul li div.follow a i{
    font-style: normal;
    display: inline-block;
    line-height: 25px;
    padding-right: 2px;
    font-size: 17px;
    color: #f4722e;
}

div.recommend-acc ul li div.follow a:hover{
    border-color: #ccc;
}

div.right a.more-posts{
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    background-color: #fff;
    color: #333;
    font-size: 13px;
    line-height: 36px;
    outline: none;
    text-decoration: none;
    text-align: center;
}

div.right a.more-posts:hover{
    color: #32a2d5;
    box-shadow: 0 0 6px #777;
}

div.right div.post-wrapper{
    border-radius: 3px;
    background-color: #fff;
    margin-bottom: 10px;
}

div.right div.post-wrapper div.post{
    padding: 20px 20px 0 80px;
    position: relative;
    overflow: auto;
}

div.right div.post-wrapper div.post div.photo{
    position: absolute;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url('http://tva1.sinaimg.cn/crop.4.3.91.91.180/006xGBL0jw8f9rokivo9hj302s02s0sl.jpg');
    border-radius: 50%;
}

div.right div.post-wrapper div.post div.content{
    overflow: auto;
    padding-bottom: 8px;
}

div.right div.post-wrapper div.post div.content a{
    text-decoration: none;
    outline: none;
    color: inherit;
}

div.right div.post-wrapper div.post div.content a:hover{
    color: #32a2d5 !important;
}

div.right div.post-wrapper div.post div.content span.author{
    display: block;
    line-height: 20px;
    margin-bottom: 5px;
    float: left;
}

div.right div.post-wrapper div.post div.content span.author a{
    display: inline-block;
    line-height: 20px;
    margin-right: 5px; 
    float: left;   
}

div.right div.post-wrapper div.post div.content span.author a.name{
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

div.right div.post-wrapper div.post div.content span.author a.verify{
    width: 16px;
    height: 14px;
    background-repeat: no-repeat;
    background-image: url('http://img.t.sinajs.cn/t6/style/images/common/icon_co.png');
    background-position: 0 0;
    margin-top: 2px;
}

div.right div.post-wrapper div.post div.content span.author a.member{
    width: 16px;
    height: 14px;
    margin-top: 2px;
    background-repeat: no-repeat;
    background-image: url('http://img.t.sinajs.cn/t6/style/images/common/icon.png');
    background-position: -25px 0;
}

div.right div.post-wrapper div.post div.content span.meta{
    display: block;
    width: 100%;
    float: left;
    color: #808080;
    font-size: 12px;
}

div.right div.post-wrapper div.post div.content p.main{
    margin: 10px 0;
    padding: 0;
    line-height: 1.6;
    font-size: 14px;
    color: #333;
    display: block;
    float: left;
}

div.right div.post-wrapper div.post div.content p.main a.feedpin{
    display: inline-block;
    height: 16px;
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    border-radius: 2px;
    background-color: #EA0F1F;
    padding: 0 5px;
    float: left;
    margin-top: 2px;
}

div.right div.post-wrapper div.post div.content p.main img.emo-icon{
    vertical-align: -6px;
    border: 0;
}

div.right div.post-wrapper div.post div.content p.main a.topic,
div.right div.post-wrapper div.post div.content p.main a.location,
div.right div.post-wrapper div.post div.content p.main a.longwb,
div.right div.post-wrapper div.post div.content p.main a.link{
    padding: 0 1px;
    color: #32a2d5;
}

div.right div.post-wrapper div.post div.content p.main a i{
    display: inline-block;
    margin: 0 4px 0 9px;
    font-family: "wbficonregular" !important;
    font-style: normal;
}

div.right div.post-wrapper div.post div.content ul.media{
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    clear: both;
}

div.right div.post-wrapper div.post div.content ul.media.amount-9{
    width: 350px;
}

div.right div.post-wrapper div.post div.content ul.media li{
    display: inline-block;
    float: left;
    margin: 0 5px 5px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div.right div.post-wrapper div.post div.content ul.media.amount-1 li{
    width: 254px;
    height: 190px;    
}

div.right div.post-wrapper div.post div.content ul.media.amount-9 li{
    width: 110px;
    height: 110px;    
}

div.right div.post-wrapper div.post div.content div.spec-box{
    overflow: auto;
    border-radius: 3px;
    float: left;
    margin: 0 6px 0 0;
    transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
}

div.right div.post-wrapper div.post div.content div.spec-box:hover{
    box-shadow: 1px 1px 2px #ccc;
}

div.right div.post-wrapper div.post div.content div.spec-box div.spec-pic{
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

div.right div.post-wrapper div.post div.content div.spec-box div.spec-info{
    padding: 12px 16px 7px;
    background-color: #F2F2F5;
}

div.right div.post-wrapper div.post div.content div.spec-box div.spec-info h3{
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
    color: #333;
    display: block;
    width: 100%;    
}

div.right div.post-wrapper div.post div.content div.spec-box div.spec-info span{
    display: block;
    width: 100%;
    color: #808080;
    font-size: 14px;
    margin-bottom: 7px;       
}

div.right div.post-wrapper div.post div.feed-expand{
    margin: 0 0 0 -80px;
    padding: 4px 20px 1px 80px;
    width: 100%;
    background-color: #F2F2F5;
    min-height: 200px;
    clear: both;
}

div.right div.post-wrapper div.post div.feed-expand div.content a{
    font-size: 12px !important;
}

div.right div.post-wrapper div.post div.feed-expand div.content p.main{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 12px;
    line-height: 1.75;
}

div.right div.post-wrapper div.post div.feed-expand div.content div.bottom{
    width: 100%;
    float: left;
}

div.right div.post-wrapper div.post div.feed-expand div.content span.meta{
    float: left;
    display: inline-block;
    width: auto;
}

div.right div.post-wrapper div.post div.feed-expand div.content ul.action{
    display: inline-block;
    float: right;
    font-size: 13px;
    margin: 0;
    padding: 0;
    list-style: none;
}

div.right div.post-wrapper div.post div.feed-expand div.content ul.action li{
    display: inline-block;
    text-align: center;
    width: 60px;
}

div.right div.post-wrapper div.post div.feed-expand div.content ul.action li a{
    outline: none;
    text-decoration: none;
    color: #808080;
}

div.right div.post-wrapper div.post div.feed-expand div.content ul.action li a i{
    display: inline-block;
    margin: 0 4px 0 0;
    font-family: "wbficonregular" !important;
    font-style: normal;
}

div.right div.post-wrapper div.post-action{
    overflow: auto;
}

div.right div.post-wrapper div.post-action ul{
    margin: 0;
    padding: 8px 0;
    list-style: none;
    text-align: center;
    display: block;
    float: left;
    width: 100%;
    border-top: 1px solid #F2F2F5;
}

div.right div.post-wrapper div.post-action ul li{
    display: inline-block;
    width: 150px;
    text-align: center;
    line-height: 22px;
    border-right: 1px solid #D9D9D9;
}

div.right div.post-wrapper div.post-action ul li.last{
    border: none;
}

div.right div.post-wrapper div.post-action ul li a{
    outline: none;
    text-decoration: none;
    color: #808080;
    font-size: 13px;
}

div.right div.post-wrapper div.post-action ul li a:hover{
    color: #2FB0F7;
}

div.right div.post-wrapper div.post-action ul li a i{
    display: inline-block;
    margin: 0 4px 0 0;
    font-family: "wbficonregular" !important;
    font-style: normal;
}

div.right div.post-wrapper div.post-action ul li a:hover i{
    color: #f4722e;
}

div.footer{
    width: 100%;
    overflow: auto;
}

div.footer div.footer-top{
    background-color: #fff;
    padding: 20px 0 10px;
}

div.footer div.footer-top h5.title{
    font-size: 16px;
    padding: 0 0 15px;
    margin: 0;
    color: #333;
    font-weight: normal;
}

div.footer div.footer-top ul{
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    width: 100%;
}

div.footer div.footer-top ul li{
    display: inline-block;
    float: left;
    width: 90px;
    margin: 0 0 10px 0;
    padding-right: 5px;
}

div.footer div.footer-top ul li a{
    outline: none;
    text-decoration: none;
    color: #808080;
    font-size: 12px;
}

div.footer div.footer-top ul li.selected a{
    color: #32a2d5;
}

div.footer div.footer-top ul li a:hover{
    color: #32a2d5;
}

div.footer div.footer-top div.wrapper{
    display: inline-block;
    float: left;
}

div.footer div.footer-top div.menu{
    width: 380px;
}

div.footer div.footer-top div.partner{
    width: 240px;
}

div.footer div.footer-top div.co-op{
    width: 200px;
}

div.footer div.footer-top div.help{
    width: 100px;
}

div.footer div.footer-bottom{
    background-color: #F2F2F5;
    text-align: center;
    padding: 20px 0 25px;
}

div.footer div.footer-bottom span{
    display: block;
    margin: 0 0 10px;
    font-size: 12px;
    color: #808080;
}

div.footer div.footer-bottom a{
    outline: none;
    text-decoration: none;
    color: #808080;
}

div.footer div.footer-bottom a:hover{
    color: #32a2d5;
}
